* {
    color: rgb(255, 255, 255);
}

.card {
    margin: 4%;
    background: rgb(10, 5, 6);
    border: 0.5px outset pink;
}

.header mat-icon {
    height: 44px;
    width: 44px;
}

.mat-h1 {
    display: inline;
    margin-right: 20px;
    margin-left: 20px;
}